[submodule "services/course-service"]
	path = services/course-service
	url = https://github.com/twin-te/course-service.git
[submodule "openapi-spec"]
	path = openapi-spec
	url = https://github.com/twin-te/twinte-openapi-spec.git
[submodule "services/timetable-service"]
	path = services/timetable-service
	url = https://github.com/twin-te/timetable-service.git
[submodule "services/school-calendar-service"]
	path = services/school-calendar-service
	url = https://github.com/twin-te/school-calendar-service.git
